# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib
*.csv
*.xlsx
*.xls
# Test binary, built with `go test -c`
*.test
*.db
# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Dependency directories (remove the comment below to include it)
# vendor/
/.idea/.gitignore
/.idea/absensi.iml
/.idea/modules.xml
/.idea/vcs.xml
